:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
.container-fluid.full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 0.9rem;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group input {
  height: auto;
  border-radius: 1rem;
  height: 35px;
}

.form-group>input,
.form-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  text-align: center;
  border-radius: 1rem;
}

.form-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-group input::-webkit-input-placeholder {
  color: darkgray;
  text-align: -webkit-center;
  font-size: 12px;
  font-family: "Avenir Next";
}

.form-group input:-ms-input-placeholder {
  color: darkgray;
  text-align: center;
  font-size: 12px;
  font-family: "Avenir Next";
}

.form-group input::-ms-input-placeholder {
  color: darkgray;
  text-align: center;
  font-size: 12px;
  font-family: "Avenir Next";
}

.form-group input::-moz-placeholder {
  color: darkgray;
  text-align: center;
  font-size: 12px;
  font-family: "Avenir Next";
}

.form-group input::placeholder {
  color: darkgray;
  text-align: center;
  font-size: 12px;
  font-family: "Avenir Next";
}

.form-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
  font-family: "Avenir Next";
}

.btn-signup {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

.btn-google {
  color: white;
  background-color: black;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

.btn-facebook {
  color: white;
  background-color: black;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-group>label {
    display: none;
  }
  .form-group input::-ms-input-placeholder {
    color: #777;
    text-align: center;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-group>label {
    display: none;
  }
  .form-group input:-ms-input-placeholder {
    color: #777;
  }
}
