
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate>
            <div class="form-group">

              <input type="text"
                      class="form-control"
                      name="username"
                      [(ngModel)]="form.username"
                      required
                      placeholder="USERNAME"
                      minlength="3"
                      maxlength="20"
                      #username="ngModel"/>
              <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                      <div *ngIf="username.errors.minlength">
                        Username must be at least 3 characters
                      </div>
                      <div *ngIf="username.errors.maxlength">
                        Username must be at most 20 characters
                      </div>
              </div>
              </div>
                  <div class="form-group">

                    <input type="email"
                      class="form-control"
                      name="email"
                      [(ngModel)]="form.email"
                      placeholder="EMAIL"
                      required
                      email
                      #email="ngModel"/>
                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-group">

                    <input type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="form.password"
                      placeholder="PASSWORD"
                      required
                      minlength="6"
                      #password="ngModel"/>
                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-warning btn-signup btn-block">Sign Up</button>
                  </div>

                  <div class="btn btn-lg btn-warning btn-block text-uppercase" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                  </div>
              <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><fa-icon [icon]="faGoogle"></fa-icon>
              Sign in with Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><fa-icon [icon]="faFacebook"></fa-icon>
              Sign in with Facebook</button>
          </form>

          <div class="alert alert-success" *ngIf="isSuccessful">
           Your registration is successful!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
