<body class="d-flex flex-column">
<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-light flex-wrap">
    <a href="#" class="navbar-brand"><fa-icon [icon]="faCannabis" class="text-dark"></fa-icon><i></i></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home</a>
      </li>
      <!--<li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>-->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Edition</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Management</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"><small>{{ username | titlecase}}</small></a>
      </li>
      <li class="nav-item">
        <a href class="nav-link text-warning" (click)="logout()"><fa-icon [icon]="faUserLock"></fa-icon></a>

      </li>
    </ul>
  </nav>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h1 class="font-weight-light mt-4 text-dark">Welcome</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="page-content">
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container-fluid text-center fixed-bottom">
    <small>Copyright &copy; Youssef GAHOUCHI</small>
  </div>
</footer>
</body>
