

    <p class="text-monospace text-uppercase text-xl-center"> <strong>{{currentUser.username}}'s notes</strong> </p><br>
    <div class="groups row container-fluid card-columns">
        <div *ngFor="let task of listTasks; let i = index" class="group">
            <div class="col">
                <div class="card bg-light mb-3 d-inline-bloc shadow-sm" style="max-width: 20rem; min-width: 15rem;">
                    <div class="card-header">
                        <strong class="text-info mr-auto ml-1">{{i}}</strong> | <small class="mr-auto ml-1">{{task.dueDate | date}}</small> |
                        <small  class="text-info ml-1">{{task.state}}</small>
                        <button type="button" class="ml-2 mb-1 close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body text-dark text-capitalize text-center">
                        <h4 class="card-title"></h4>
                        <p class="card-text mr-auto" (click)="$event.stopPropagation()">{{task.label}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>








