<div class="container-fluid">

    <div class="row">

        <div class="col float-left order-sm-1 order-2">

              <div class="">

                  <nav class="navbar navbar-light bg-transparent rounded-lg">
                      <form  (ngSubmit)="findUser()" [formGroup]="searchForm" class="form-inline mx-lg-n4">
                          <input (keyup)="findUser()" class="form-control mr-sm-2" formControlName="username"
                                 name="username" placeholder="Find users" type="text">
                      </form>
                      <br>
                  </nav>

                <table class="table table-hover"  *ngIf=listUsers>
                    <thead class="table-light">
                    <tr>
                        <th class="text-black-50 text-monospace">Username</th>
                        <th class="text-black-50 text-monospace">Email</th>
                        <th class="text-black-50 text-monospace"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let user of listUsers" class="">

                        <td>
                            <a (click)="loadFormToEdit(user)" class="btn" data-placement="bottom" data-toggle="tooltip"
                               title="Click to edit">{{user.username}}</a>
                            <a *ngFor="let role of user.roles">
                                <fa-icon *ngIf="(role.name ==='ROLE_ADMIN')"
                                         [icon]="faUserShield"></fa-icon>
                                <fa-icon *ngIf="(role.name ==='ROLE_MODERATOR')"
                                         [icon]="faUserGraduate" [styles]="{'color': 'gold'}"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <label (click)="loadFormToEdit(user)" class="font-weight-lighter btn" data-placement="bottom"
                                   data-toggle="tooltip" title="Click to edit">{{user.email}}
                                <span *ngIf="(currentUser.username===user.username)" class="badge badge-warning">YOU</span></label>
                        </td>

                        <td>
                            <a (click)="deleteUser(user);" class="float-right btn" data-placement="bottom"
                               data-toggle="tooltip" title="Delete">
                                <fa-icon [icon]="faTrash" [styles]="{'stroke': 'black', 'color': 'black'}" ></fa-icon>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
                  <br>

              </div>

        </div>

        <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3 float-right order-sm-2 order-1">

            <div class="d-flex flex-column">
                <br>
                <h2 class="text-monospace text-xl-center"><strong class="text-warning">Add</strong>|<strong>Modify</strong></h2>
                <form [formGroup]="addForm">

                    <input class="form-control" formControlName="id" id="id" name="id"
                           placeholder="id" type="hidden">

                    <div class="form-group">
                        <label class="text-monospace text-black-50" for="username">Name:</label>
                        <input class="form-control" formControlName="username" id="username" name="username"
                               placeholder="username" type="text">
                    </div>

                    <div class="form-group">
                        <label class="text-monospace text-black-50" for="email">email:</label>
                        <input class="form-control" formControlName="email" id="email" name="email" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label class="text-monospace text-black-50" for="password">password:</label>
                        <input class="form-control" formControlName="password" id="password" name="password"
                               placeholder="password" type="password">
                    </div>

                    <div class="form-group row flex mx-auto">
                        <div class="custom-control custom-switch col-lg">
                            <input class="custom-control-input" formControlName="isAdmin" id="isAdmin"
                                   name="isAdmin" type="checkbox">
                            <label class="custom-control-label" for="isAdmin">Admin</label>
                        </div>
                    </div>
                    <div class="form-group row flex mx-auto">
                        <div class="custom-control custom-switch col-lg">
                            <input  class="custom-control-input" formControlName="isEditor" id="isEditor"
                                   name="isEditor" type="checkbox">
                            <label class="custom-control-label" for="isEditor">Editor</label>
                        </div>
                    </div>


                    <button (click)="addUser()" class="btn btn-outline-warning text-monospace float left">Add</button>
                    <button (click)="editUser()" class="btn btn-outline-dark text-monospace float-right">Modify</button>


                </form>
                <br>
            </div>


        </div>
</div>
</div>
<script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

