root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1558276561-95e31d860c4b');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 500;
  text-align: center;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group>input,
.form-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: 35px;
  border-radius: 1rem;
  text-align: center;
}

.form-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-group input::-webkit-input-placeholder {
  color: darkgray;
  text-align: -webkit-center;
  font-size: 11.5px;
  font-family: "Avenir Next";
}

.form-group input:-ms-input-placeholder {
  color: darkgray;
  text-align: center;
  font-size: 11.5px;
  font-family: "Avenir Next";
}

.form-group input::-ms-input-placeholder {
  color: darkgray;
  text-align: center;
  font-size: 11.5px;
  font-family: "Avenir Next";
}

.form-group input::-moz-placeholder {
  color: darkgray;
  text-align: center;
  font-size: 11.5px;
  font-family: "Avenir Next";
}

.form-group input::placeholder {
  color: darkgray;
  text-align: center;
  font-size: 11.5px;
  font-family: "Avenir Next";
}

.form-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 11.5px;
  color: #777;
  font-family: "Avenir Next";
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-group>label {
    display: none;
  }
  .form-group input::-ms-input-placeholder {
    color: #777;
    text-align: center;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-group>label {
    display: none;
  }
  .form-group input:-ms-input-placeholder {
    color: #777;
  }
}
