<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading text-monospace text-dark mb-4">Welcome back!</h3>
              <form #f="ngForm"
                      (ngSubmit)="f.form.valid && onSubmit()"
                      *ngIf="!isLoggedIn"
                      name="form"
                      novalidate>
                <div class="form-group">
                  <input #username="ngModel"
                          [(ngModel)]="form.username"
                          class="form-control"
                          name="username"
                          placeholder="USERNAME"
                          required
                          type="text" autofocus/>
                  <div *ngIf="f.submitted && username.invalid"
                          class="alert alert-danger"
                          role="alert">
                    Username is required!
                  </div>
                </div>
                <div class="form-group">
                  <input #password="ngModel"
                          [(ngModel)]="form.password"
                          class="form-control"
                          minlength="6"
                          name="password"
                          placeholder="PASSWORD"
                          required
                          type="password" />
                  <div *ngIf="f.submitted && password.invalid"
                          class="alert alert-danger"
                          role="alert">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-warning btn-block btn-login text-uppercase font-weight-bold mb-2">
                    Login
                  </button>
                </div>
                <div class="text-center">
                <a class="small" href="#">Forgot password?</a></div>
                <div class="form-group">
                  <div *ngIf="f.submitted && isLoginFailed"
                          class="alert alert-danger"
                          role="alert">
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>

              <div *ngIf="isLoggedIn" class="alert alert-success">
                Logged in as {{ roles }}.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
